.createTaskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  justify-content: center;
}
.createTaskContainer-common {
  display: flex;
  flex-direction: row;
}
.createTaskContainer-common-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createTaskContainer-common-input input {
  width: 400px;
  height: 28px;
  margin-bottom: 6px;
}
.createTaskContainer-common button {
  font-size: 50px;
  width: 70px;
  height: 70px;
  margin-left: 8px;
  color: #FF8303;
}

.task-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.task-list-none {
  color: white;
  font-size: 20px;
  border-top: 1px solid #FF8303;
  border-bottom: 1px solid #FF8303;
}

.newTask-container {
  display: flex;
  width: 460px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}
.newTask-containertext {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newTask-containertext h3 {
  margin: 0;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.newTask-containertext p {
  margin: 4px 0 0 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.newTask-container button {
  height: 32px;
  width: 32px;
}

.confirmation {
  display: flex;
}
.confirmation-dialog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: auto;
  margin: auto;
  z-index: 1000;
}
.confirmation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #F0E3CA;
}
.confirmation-content p {
  margin-bottom: 15px;
  font-size: 18px;
}
.confirmation-content-button {
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.confirmation-content-button button {
  width: 80px;
  margin: 5px;
  padding: 10px;
}